* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.navi {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

.list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main {
  width: 800px;
  padding: 50px 0;
  margin: 0 auto;
}

.main-top {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.color1-1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.color1-2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.color1-3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}
.color1-4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

/* center */
.main-center {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.color2-1 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.color2-2 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.color2-3 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}
.color2-4 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

/* bottom */
.main-bottom {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.color3-1 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.color3-2 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.color3-3 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}
.color3-4 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}
